
@{
    ViewBag.Title = "AddUser";
    Layout = null;
}
    <ul>
        <br>
        <font color=red>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </font>
    </ul>

