
@{
    ViewBag.Title = "UserActEnhanced";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .actadvanceTbl{
       border:1px;
       width:40%;
      height:146px;
      border-color:#6B8E23;
   }

    .actadvanceTbl tr{
        border-color:#6B8E23;
    }
    .activitytd{
       height:22px;
       background-color:#6B8E23;
   }
    .fromtd{
        width: 48%;
        height: 37px;
        background-color: #6B8E23;
    }
        .totd{
            height: 30px;
        background-color: #6B8E23;
        }
    .datepickertd, .datetotd {
        width: 52%;
        height: 37px;
        background-color: #6B8E23;
        vertical-align: middle;
    }
    .datetotd{
       width: 52%;
        height: 30px;
        background-color: #6B8E23;
        vertical-align: middle;
    }
    .btnleft_td{
    height:30px;
    background-color:#6B8E23;
   }
   .btntd{
       width:52%;
       height:30px;
       background-color:#6B8E23;
   }

   .userdtltbl{
       border:1px;
       border-color:#6B8E23;
       margin-top:5px;
   }
   .userdtltbl .usertd{
       width:160px;
       background-color:#6B8E23;
        border-color:#000000;
   }
   .medicaltd{
        width:130px;
       background-color:#6B8E23;
        border-color:#000000;
   }
   .usertdwhite{
       width:160px;
       background-color:white;
       border-color:#000000;
   }
   .medicaltdwhite{
        width:130px;
       background-color:white;
        border-color:#000000;
   }
</style>
    <table class="actadvanceTbl" align="center" cellpadding="0">
        <tr>
            <td colspan="3" class="activitytd">
                <div align="center">
                    <font color="#FFFFFF" size="2" face="Verdana, Arial, Helvetica, sans-serif">
                        <strong>
                            User
                            Activity
                        </strong>
                    </font>
                </div>
                </td>
        </tr>
        <tr>
            <td class="fromtd" align="left"> <div align="left"><b><font color="#FFFFFF" size="2" face="Verdana, Arial, Helvetica, sans-serif">FROM:</font></b></div>
            <td class="datepickertd" valign="middle" align="center">
                <div align="center">
                   
                </div>
            </td>
        </tr>
        <tr>
            <td class="totd" align="left">
                <div align="left"><b></b></div>
                <b><font color="#FFFFFF" size="2" face="Verdana, Arial, Helvetica, sans-serif">TO:</font></b>
            <td class="datetotd" valign="middle" align="center">
                <div align="center">
                 
                </div>
            </td>
        </tr>
        <tr>
            <td class="btnleft_td" align="left"> <div align="left"><b><font color="#FFFFFF"></font></b></div>
            <td class="btntd" valign="middle" align="center">
                <div align="center">
                    <input name="Reset" TYPE="Reset" VALUE="Reset">
                    <input name="Submit" TYPE="Submit" VALUE="Submit">
                </div>
            </td>
        </tr>
    </table>

    <table class="userdtltbl" col="4" cellspace="10" align="center">
        <tr>
            <td class="usertd">
                <div align="center"><b><font color="#FFFFFF" size="2" face="Verdana, Arial, Helvetica, sans-serif">User </font></b></div>
            </td>

            <td class="usertd">
                <div align="center"><b><font color="#FFFFFF" size="2" face="Verdana, Arial, Helvetica, sans-serif">Date/Time</font></b></div>
            </td>

            <td class="medicaltd">
                <div align="center"><b><font color="#FFFFFF" size="2" face="Verdana, Arial, Helvetica, sans-serif">Medical Record#</font></b></div>
            </td>

            <td class="medicaltd">
                <div align="center"><b><font color="#FFFFFF" size="2" face="Verdana, Arial, Helvetica, sans-serif">Serial Number</font></b></div>
            </td>

            <td class="usertd">
                <div align="center"><b><font color="#FFFFFF" size="2" face="Verdana, Arial, Helvetica, sans-serif">Patient Name</font></b></div>
            </td>
        </tr>
        
        <tr>
            <td class="usertdwhite">
                <div align="left"><font color="black"></font></div>
            </td>

            <td class="usertdwhite">
                <div align="left"><font color="black"></font></div>
            </td>

            <td class="medicaltdwhite">
                <div align="left"><font color="black"></font></div>
            </td>

            <td class="medicaltdwhite">
                <div align="left"> <font color="black"></font></div>
            </td>

            <td class="usertdwhite">
                <div align="left"> <font color="black"></font></div>
            </td>
        </tr>
        

    </table>

